span {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 38, 77, 0.8) 0%, rgba(0, 0, 0, 1) 90%);
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 3px solid rgba(10, 10, 10, 1);
}

.row {
    display: flex;
    width: 100%;
}

.square {
    flex-basis: 12.5%; /* Adjust the square size as needed */
    background-color: #fffbf1; /* Adjust the colors as desired */
    border: 1px solid #000; /* Adjust the border color as desired */
    box-sizing: border-box;
}

/* Chess piece placeholders */
.piece {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Adjust the styles for different chess pieces */
.piece::before {
    content: ""; /* Placeholder for the chess piece */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* Add specific styles for each chess piece, such as background-image or font-icons */
}

.square {
    position: relative;
}

.square > div {
    height: 100%;
    background-size: 100%;

}

.square .number {
    position: absolute;
    font-size: 13px;
}

.square .letter {
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 12px;
}

.square .white {
    background-repeat: no-repeat;
}

.square .black {
    background-repeat: no-repeat;
}
/*White pieces*/
.square .pawn.white {
    background-image: url('../image/piece/white/Chess_plt45.svg');
}

.square .rook.white {
    background-image: url('../image/piece/white/Chess_rlt45.svg');
}

.square .knight.white {
    background-image: url('../image/piece/white/Chess_nlt45.svg');
}

.square .bishop.white {
    background-image: url('../image/piece/white/Chess_blt45.svg');
}
.square .queen.white {
    background-image: url('../image/piece/white/Chess_qlt45.svg');
}
.square .king.white {
    background-image: url('../image/piece/white/Chess_klt45.svg');
}

/*Black pieces*/
.square .pawn.black {
    background-image: url('../image/piece/black/Chess_pdt45.svg');
}

.square .rook.black {
    background-image: url('../image/piece/black/Chess_rdt45.svg');
}

.row:nth-child(odd) .square:nth-child(even){
    background-color: #00264d; /* Adjust the colors as desired */
}

.row:last-child .square:nth-child(even) .letter {
    color: #00264d; /* Adjust the colors as desired */
}

.row:last-child .square:nth-child(odd) .letter {
    color: #fffbf1; /* Adjust the colors as desired */
}

.row:nth-child(odd) .number{
        color: #00264d; /* Adjust the colors as desired */
}

.row:nth-child(even) .number{
    color: #fffbf1; /* Adjust the colors as desired */
}

/* Alternate color for the squares */
.row:nth-child(even) .square:nth-child(odd) {
    background-color: #00264d; /* Adjust the colors as desired */
}

.square .knight.black {
    background-image: url('../image/piece/black/Chess_ndt45.svg');
}

.square .bishop.black {
    background-image: url('../image/piece/black/Chess_bdt45.svg');
}
.square .queen.black {
    background-image: url('../image/piece/black/Chess_qdt45.svg');
}
.square .king.black {
    background-image: url('../image/piece/black/Chess_kdt45.svg');
}

.panel-btn {
    cursor: pointer;
    border-radius: 15px;
        text-align: center;
    background: #00264d;
    border: 6px solid #00264d;
    color: white;
    margin: 12px 12px;
}

#cover{
    position:fixed;
    text-align: center;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6);
    z-index:120;
    width:100%;
    height:100%;
}
.cover-content {
    padding-top: 20%;
    padding-right: 5%;
    color: rgba(255, 255, 255, 0.93);
    font-weight: bold;
    font-size: 128px;
}

